<div class="d-flex flex-column col-6  registration-input-wrap">
  <div>
    <span class="mx-3">Login</span>
    <input type="text"
           pInputText
           [ngClass]="{'input-error': !login}"
           [(ngModel)]="login"/>
  </div>
  <div>
    <span class="mx-3">Password</span>
    <input type="password"
           class="mt-3"
           pInputText
           [ngClass]="{'input-error': !psw}"
           [(ngModel)]="psw"/>
  </div>

  <div>
    <span class="mx-3">Submit password</span>
    <input type="password"
           class="mt-3"
           pInputText
           [ngClass]="{'input-error': !pswRepeat}"
           [(ngModel)]="pswRepeat"/>
  </div>
  <div>
    <span class="mx-3">Email</span>
    <input type="text"
           class="mt-3"
           pInputText
           [(ngModel)]="email"/>
  </div>

  <div *ngIf="showCardNumber; else noSelected">
    <span class="mx-3">Card number</span>
    <input type="text"
           class="mt-3"
           pInputText
           [(ngModel)]="cardNumber"/>
  </div>

  <div class="mt-3">
    <p-checkbox (onChange)="saveUser()"
                label="Save user name on the local storage"
                name="groupname" [binary]="true"
                [(ngModel)]="saveValue"></p-checkbox>
   <!-- <div *ngIf="selectedValue">
      <span class="mx-3">Card number</span>
      <input type="text"
             class="mt-3"
             pInputText
             [(ngModel)]="cardNumber"/>
    </div> -->
  </div>
  <div class="mt-5 d-flex justify-content-start">
    <button [disabled]="!login || !psw || !pswRepeat"
            (click)="registration($event)"
            type="button"
            class="btn btn-success">Registration</button>
  </div>
</div>

<ng-template #noSelected>
  <p>Card is no selected</p>
</ng-template>

