<div>
  <div>
    <span class="mx-3">Enter current password</span>
    <input type="password"
           pInputText
           [ngClass]="{'input-error': !currentPsw}"
           [(ngModel)]="currentPsw"/>
  </div>
  <div>
    <span class="mx-3">Enter new password</span>
    <input type="password"
           class="mt-3"
           pInputText
           [ngClass]="{'input-error': !newPsw}"
           [(ngModel)]="newPsw"/>
  </div>
  <div>
    <span class="mx-3">Repeat new password</span>
    <input type="password"
           class="mt-3"
           pInputText
           [ngClass]="{'input-error': !newPswRepeat}"
           [(ngModel)]="newPswRepeat"/>
  </div>
</div>
<div class="mt-5 d-flex justify-content-start">
  <button (click)="changePsw()" type="button" class="btn btn-success">Change password</button>
</div>















<!--<div>-->
<!--  <p-tabView>-->
<!--    <p-tabPanel header="Change pass">-->
<!--      <ng-template pTemplate="content">-->
<!--      </ng-template>-->
<!--    </p-tabPanel>-->

<!--  </p-tabView>-->
<!--</div>-->
